:root {
  --background-color : #181D21;
  --main-color : #E6E1DD;
  --color2 : #303538;
  --font-1 : WorkSans-Bold;
  --font-2 : WorkSans;
  --sub-font : Raleway;
}

body {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-hero {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.nav {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.nav-wrap {
  max-width: 1169px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrap .right-nav {
  color: var(--main-color);
  font-family: var(--font-1);
  font-size: 16px;
  flex: 1;
  /* min-width: 148px;
  width: 100%; */
}

.left-wrap {
  text-align: right;
}

.left-wrap .left-main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.left-main-wrap i {
  color: var(--main-color);
  font-size: 40px;
  display: none;
}

.left-wrap .left-main-wrap a {
  color: var(--main-color);
  font-family: var(--font-2);
  font-size: 16px;
}

.left-main-wrap .left-EN a {
  background-color: var(--color2);
  display: flex;
  align-items: center;
  padding: 13px 19px;
  border-radius: 3px;
  gap: 6px;
  border: 1px solid var(--color2);
  transition: background-color 0.2s,
  border 0.2s;
}

.left-main-wrap .left-EN a:hover {
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
}

.left-main-wrap .left-EN a:active {
  opacity: 0.7;
}

.hero-section {
  width: 100%;
  max-height: 880px;
  display: flex;
  justify-content: center;
}

.container-main-hero {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1169px;
  width: 100%;
  height: 880px;
  gap: 120px;
  z-index: 1;
}

.container-main-hero::after {
  content: "";
  background-image: url(image/colorful-hyper-realistic-wallpaper-high-resolution-backgrounds\ 1.png);
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 60%;
  width: 100vw;
  height: 880px;
  background-repeat: no-repeat;
}



.container-phone img{
  max-width: 280px;
  width: 100%;
}

.top-text {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.top-text span {
  color: var(--main-color);
  font-family: var(--font-1);
  font-size: 46px;
  max-width: 450px;
  width: 100%;
}

.top-text p {
  color: var(--main-color);
  font-family: var(--sub-font);
  font-size: 16px;
  max-width: 379px;
  width: 100%;
  margin-top: 20px;
}

.bottom-button {
  display: flex;
  align-items: center;
}

.app-store svg {
  width: 163px;
  margin-right: 36px;
}

.secondary {
  font-family: var(--font-1);
  color: var(--main-color);
  font-size: 16px;
}

@media screen and (min-width: 500px){
  .nav-wrap,
  .container-main-hero {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 1250px){ 
  .container-main-hero::after {
    left: 60%;
    transition: 0.4s;
  }
  .container-main-hero {
    gap: 100px;
    transition: 0.4s;
  }
}

@media screen and (max-width: 1150px){ 
  .container-main-hero {
    gap: 50px;
    transition: 0.4s;
  }
}

@media screen and (max-width: 850px) {
  .left-main-wrap i {
    display: block;
    position: absolute;
    right: 25px;
    top: -10px;
  }
 .nav .nav-wrap { 
    position: relative;
  }
  .left-wrap .left-main-wrap a {
    display: none;
  }
  .container-main-hero::after {
    bottom: 0;
    left: 0;
    transition: 0;
    top: 436px;
  }
  .container-main-hero {
    flex-direction: column;
    gap: 0;
  }
  .container-phone {
    width: 297px;
    height: 442px;
  }
  .container-text-hero {
    padding-top: 24px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
  }
  .top-text span {
    font-size: 32px;
  }
  .top-text p {
    max-width: 300px;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
  }
  .top-text span,
  .top-text p {
    text-align: center;
  }
  .top-text {
    align-items: center;
    justify-content: center;
  }
  .bottom-button {
    flex-direction: column;
  }
  .bottom-button .app-store svg{
    margin-right: 0;
  }
  .bottom-button .secondary {
    margin-top: 26px;
  }
  .nav-wrap .right-nav {
    flex: none;
  }
  .nav .nav-wrap {
    display: flex;
    justify-content: center;
  }
  .left-wrap .left-main-wrap {
    display: inline;
    gap: 0;
  }
}

