html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "WorkSans";
  src: url(fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url(fonts/WorkSans-Bold.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Light.ttf);
}

/* Commit in GitHub */
/* git remote add origin https://github.com/zahra-asyifa/Work-Website.git
git branch -M main
git push -u origin main */